<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Serial connection kobuki base -->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

    <!-- 3D sensor -->
    <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />

    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
            Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
    <arg name="scan_topic" value="/scan" />
    </include>

    <!-- Gmapping -->
    <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
    <include file="$(arg custom_gmapping_launch_file)"/>

    <!-- Move base -->
    <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

    <!-- FRONTIER_EXPLORATION 
        Set to your sensor's range -->
    <arg name="sensor_range" default="5.0"/>

    <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>

    <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen" >

        <param name="frequency" type="double" value="5.0"/>
        <param name="goal_aliasing" type="double" value="$(arg sensor_range)"/>

        #All standard costmap_2d parameters as in move_base, other than BoundedExploreLayer
    <rosparam file="$(find deminer)/config/costmap_common.yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find deminer)/config/costmap_exploration.yaml" command="load" ns="explore_costmap" />
    </node>

    <!--
    Used for visualising turtlebot in action.  

    It requires minimal.launch and optionally 3dsensor.launch to already be up and running.
    -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find deminer)/rviz/demining2.rviz" />
</launch>