<launch>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find deminer)/rviz/lines_config.rviz" />
<arg name="map_file" value="$(find deminer)/maps/hall_of_fame.yaml"> </arg>	
<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>
<node pkg="deminer" type="line_list" name="line_list" />

</launch>